.header-container {
    background-color: #FFF;
    border-bottom:1px solid #ccc;
    overflow: hidden;

    /*z-index: 10 !important;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*top: 0;*/
}
.text-holder {
    display:flex;
    align-items: center;
    justify-content: center;
}
.username {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}